<h1>@ViewData["titulo"]</h1>
<h6>@ViewBag.DataHora</h6>
<h6>@ViewData["Datahora"]</h6>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Título Interno</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Título Marketing</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Descrição</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<button type="button" class="btn btn-outline-success">Cadastrar</button>

